﻿<div class="btnbox">
    <ul class="tga2">
        <li><button class="seditbtn" id="backUpBtn">备份数据库</button></li>
        <li><button class="sdelbtn showprompt" id="clearBtn">清空数据库</button></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="datalist" id="DbManagedatalist">
    <ul id="DbManageitemList"></ul>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>

