﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <!--<input type="text" class="searchtext" placeholder="会员编号" />-->
            <table>
                <tr>
                    <td style="width:39%"><input type="text" class="searchtext" style="width:100%" id="userId" placeholder="会员编号" /></td>
                    <td style="width:30%"><button class="operatebtn" id="queryBtn" style="width:100%">搜索</button></td>
                    <td style="width:30%"><button class="operatebtn" id="selfBtn" style="width:100%">我的直推图</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
    </div>

    
</div>
<div class="usertree" id="usertree">
</div>
<div class="replybox" id="other" style="font-size:1.3rem;text-align:center;">
</div>
