﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="hidden" id="flag" />
                        <input type="text" class="searchtext searchtexth" id="flagName" readonly placeholder="状态" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>购买类型</dt>
                <dd>
                    <input type="hidden" id="typeId" />
                    <input type="text" class="searchtext" placeholder="" id="typeIdName" style="width:100%" readonly />
                </dd>
            </dl>
            <dl>
                <dt>买家编码</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="userId" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>卖家编码</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="suserId" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>操作人</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="opUserId" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>批量单号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="batchNumber" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>买入单号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="number" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>挂卖单号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="snumber" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>购买日期</dt>
                <dd>
                    <div class="seatatebox">
                        <input type="text" class="datebox" id="startTime" style="width:45%" /><span>至</span><input type="text" class="datebox" id="endTime" style="width:45%" />
                    </div><div class="clear">
                    </div>
                </dd>
            </dl>
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="operation">
        <ul class="tga2">
            <li><label><input class="operationche" type="checkbox" id="checkAllBtn" />全选</label></li>
            <li><button class="seditbtn" id="batchPayBtn">批量付款</button></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="datalist operationlist" id="EpBuyRecorddatalist">
        <ul id="EpBuyRecorditemList"></ul>
    </div>
</div>

<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>