﻿<div class="operating">
    <div class="searchbox">
        <table>
            <tr>
                <td style="text-align:center;width:50%"><input type="text" required="required" class="searchtext searchtexth" id="userId" placeholder="会员编号" style="width:100%" />
                </td>
                <td style="text-align:center;width:18%"><button class="operatebtn" id="queryBtn" style="width:95%">搜索</button></td>
                <td style="text-align:center;width:28%"><button class="operatebtn" id="selfBtn" style="width:98%">我的系谱图</button></td>
            </tr>
        </table>
    </div>

    <div class="userlevel">
        <div class="tga4">
            <li class="flevel0"><span>待开通</span></li>
            <li class="flevel1"><span>普卡</span></li>
            <li class="flevel4"><span>银卡</span></li>
            <li class="flevel3"><span>金卡</span></li>

        </div>
        <br />
        <div id="other" style="padding-top:10px;">
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="pedigreebox">
    <div class="memberpedigree">
        <div class="memberbox">
            <div class="userpedigree flevel1" id="kk1">
            </div>
        </div>
        <div class="pedigreeline">
            <div class="pedigreelinetop"></div>
            <div class="pedigreelinemiddle"></div>
        </div>
        <ul>
            <li>
                <div class="memberbox">
                    <div class="userpedigree flevel2" id="kk2">
                    </div>
                </div>
                <div class="pedigreeline">
                    <div class="pedigreelinetop"></div>
                    <div class="pedigreelinemiddle"></div>
                </div>
                <ul>
                    <li>
                        <div class="memberbox">
                            <div class="userpedigree flevel4" id="kk4">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="memberbox">
                            <div class="userpedigree flevel5" id="kk5">
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="memberbox">
                    <div class="userpedigree flevel3" id="kk3">
                    </div>
                </div>
                <div class="pedigreeline">
                    <div class="pedigreelinetop"></div>
                    <div class="pedigreelinemiddle"></div>
                </div>
                <ul>
                    <li>
                        <div class="memberbox">
                            <div class="userpedigree flevel0" id="kk6">
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="memberbox">
                            <div class="userpedigree flevel0" id="kk7">
                            </div>
                        </div>

                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>