﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="text" class="searchtext searchtexth" id="userId" placeholder="会员编号" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>会员姓名</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="会员姓名" style="width:98%" id="userName" />
                </dd>
            </dl>
            <dl>
                <dt>手机号码</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="手机号码" style="width:98%" id="phone" />
                </dd>
            </dl>
            <dl>
                <dt>推荐人编号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="推荐人编号" style="width:98%" id="reName" />
                </dd>
            </dl>
            <dl>
                <dt>是否空单</dt>
                <dd>
                    <input type="hidden" id="empty" />
                    <input type="text" class="searchtext" placeholder="默认全部" style="width:98%" id="emptyName" readonly />
                </dd>
            </dl>
            <dl>
                <dt>会员级别</dt>
                <dd>
                    <input type="hidden" id="uLevel"/>
                    <input type="text" class="searchtext" placeholder="默认全部" style="width:98%" id="uLevelName" readonly />
                </dd>
            </dl>
            <dl>
                <dt>开通日期</dt>
                <dd>
                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left"><input type="text" class="datebox" id="passStartTime" placeholder="开始日期" style="width:100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right"><input type="text" class="datebox" id="passEndTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <a href="/Admin/MemberPassed/ExportOpenExcel" id="toPrint"><button class="bigbtn" id="ExportExcel">导出Excel</button></a>
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="operation">
        <ul class="tga4">
            <li><label><input class="operationche" type="checkbox" id="checkAllBtn" />全选</label></li>
            <li><button class="seditbtn" id="enabledBtn">启用</button></li>
            <li><button class="sdelbtn" id="disabledBtn">冻结</button></li>
            <li><button class="seditbtn" id="msgBtn">群发短信</button></li>
        </ul>
        <ul class="tga4">
            <li><button class="sdelbtn" id="redPwdbtn">重置密码</button></li>
        </ul>
            <div class="clear"></div>
</div>
    <div class="datalist operationlist" id="MemberPasseddatalist">
        <ul id="MemberPasseditemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
            <ul>
                <li>
                    <dl>
                        <dt>收件人</dt>
                        <dd>
                            <input type="text" class="entrytxt" id="stoUser" placeholder="请输入短信内容" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>邮件主题</dt>
                        <dd>
                            <input type="text" class="entrytxt" id="stitle" placeholder="请输入短信内容" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>邮件内容</dt>
                        <dd>
                            <div id="editor"></div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定开通</button>
        </div>
    </div>
</div>
