﻿<div class="operating">
    <div class="searchbox">
        <table style="width:100%;">
            <tr>
                <td style="text-align:center;">
                    <input type="text" class="searchtext searchtexth" id="userId2" placeholder="管理员编号" style="width:100%" />
                </td>
                <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
            </tr>
        </table>
        <div class="clear"></div>
    </div>
</div>
<div class="operation">
    <ul class="tga1">
        <li><button class="seditbtn" id="addAdminBtn">添加</button></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="datalist" id="MemberAdmindatalist">
    <ul id="MemberAdminitemList"></ul>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">添加管理员</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
            
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>
