﻿<div id="lemeinfo">
    <input type="hidden" id="id" name="id" />
    <div class="entryinfo">
        <dl>
            <dt>会员编号</dt>
            <dd>
                <p><span id="userId"></span></p>
            </dd>
        </dl>
        <dl>
            <dt>会员级别</dt>
            <dd>
                <p id="uLevel"></p>
            </dd>
        </dl>
        <dl>
            <dt>接点人编号</dt>
            <dd>
                <p id="fatherName"></p>
            </dd>
        </dl>
        <dl>
            <dt>放置区域</dt>
            <dd>
                <p id="treePlace"></p>
            </dd>
        </dl>
        <dl>
            <dt>推荐人编号</dt>
            <dd>
                <p><span id="reName"></span></p>
            </dd>
        </dl>
        <dl>
            <dt>报单中心</dt>
            <dd>
                <p><span id="shopName"></span></p>
            </dd>
        </dl>
        <dl>
            <dt>登录密码</dt>
            <dd>
                <input type="password" required="required" class="entrytxt" id="password" name="password" placeholder="需要修改时填写" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>安全密码</dt>
            <dd>
                <input type="password" required="required" class="entrytxt" id="passOpen" name="passOpen" placeholder="需要修改时填写" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>交易密码</dt>
            <dd>
                <input type="password" required="required" class="entrytxt" id="threepass" name="threepass" placeholder="需要修改时填写" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <div class="userdltl">基本资料</div>
        <dl>
            <dt>真实姓名</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="userName" name="userName" placeholder="请输入真实姓名" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>身份证号</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="code" name="code" placeholder="请输入身份证号" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>手机号码</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="phone" name="phone" placeholder="请输入手机号码" maxlength="11" emptymsg="请输入手机号码" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>省</dt>
            <dd>
                <input type="text" class="entrytxt area" id="province" name="province" placeholder="请选择省" readonly emptymsg="请选择省" />
            </dd>
        </dl>
        <dl>
            <dt>市</dt>
            <dd>
                <input type="text" class="entrytxt area" id="city" name="city" placeholder="请选择市" readonly emptymsg="请选择市" />
            </dd>
        </dl>
        <dl>
            <dt>区</dt>
            <dd>
                <input type="text" class="entrytxt area" id="area" name="area" />
            </dd>
        </dl>
        <dl>
            <dt>详细地址</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="address" name="address" placeholder="请输入详细地址" emptymsg="请输入详细地址" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>QQ</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="qq" name="qq" placeholder="请输入您的QQ号码" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <div class="userdltl">银行资料</div>
        <dl>
            <dt>开户行</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankName" name="bankName" placeholder="请选择开户行" readonly emptymsg="请选择开户行" />
            </dd>
        </dl>

        <dl>
            <dt>银行卡号</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="bankCard" name="bankCard" placeholder="请输入银行卡号" emptymsg="银行卡号不能为空" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>开户名</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="bankUser" name="bankUser" placeholder="请输入开户名" emptymsg="开户名不能为空" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>开户支行</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="bankAddress" name="bankAddress" placeholder="请输入开户支行名称" emptymsg="开户支行名称不能为空" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <div class="btnbox">
            <div class="btnbox">
                <ul class="tga1">
                    <li><button class="bigbtn" id="saveBtn">保存</button></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>