﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="text" class="searchtext searchtexth" id="userId" placeholder="会员编号" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>会员姓名</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="会员姓名" style="width:98%" id="userName" />
                </dd>
            </dl>
            <dl>
                <dt>注册日期</dt>
                <dd>
                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left"><input type="text" class="datebox" id="startTime" placeholder="开始日期" style="width:100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right"><input type="text" class="datebox" id="endTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <a href="/Admin/MemberPassing/ExportNotOpenExcel" id="toPrint"><button class="bigbtn" id="ExportExcel">导出Excel</button></a>
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="datalist" id="UMemberPassingdatalist">
        <ul id="UMemberPassingitemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">转账详情</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="datalist">
            <ul>
                <li>
                    <input type="hidden" id="uid" />
                    <dl>
                        <dt>会员编号</dt>
                        <dd id="dkhybh"></dd>
                    </dl>
                    <dl>
                        <dt>会员名称</dt>
                        <dd id="dkhymc"></dd>
                    </dl>
                    <dl>
                        <dt>注册日期</dt>
                        <dd id="dkzcrq"></dd>
                    </dl>
                    <dl>
                        <dt>会员级别</dt>
                        <dd id="dkhyjb"></dd>
                    </dl>
                    <dl>
                        <dt>注册金额</dt>
                        <dd><span id="dkzcje">0</span>&nbsp;元</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="btnbox" style="padding-bottom:1rem;">
            <button class="bigbtn" id="sureBtn">确定开通</button>
        </div>
    </div>
</div>
