﻿<div class="maintag">
    <ul class="tga2">
        <li class="active" id="tabLi1"><a href="javascript:changeTab(1);">修改记录</a></li>
        <li id="tabLi2"><a href="javascript:changeTab(2);">修改说明</a></li>
    </ul>
</div>
<div class="contentbox" id="tabDiv1">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="text" class="searchtext searchtexth" id="userId2" placeholder="会员编号" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>会员姓名</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="会员姓名" style="width:98%" id="userName2" />
                </dd>
            </dl>
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="operation">
        <ul class="tga1">
            <li><button class="seditbtn" id="addRecordBtn">添加</button></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="datalist" id="ReMemberEditDataList">
        <ul id="ReMemberEditItemList"></ul>
    </div>
</div>
<!--弹出框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">修改推荐关系</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
            <ul>
                <li>
                    <dl>
                        <dt>会员编号</dt>
                        <dd>
                            <input type="text"  required="required" class="entrytxt" id="userId" placeholder="请输入会员编号" />
                            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>会员姓名</dt>
                        <dd>
                            <input type="text" class="entrytxt" id="userName" readonly />
                        </dd>
                    </dl>
                    <dl>
                        <dt>旧推荐人编号</dt>
                        <dd>
                            <input type="text" class="entrytxt" id="oldReName" readonly />
                        </dd>
                    </dl>
                    <dl>
                        <dt>新推荐人编号</dt>
                        <dd>
                            <input type="text" required="required" class="entrytxt" id="newReName" placeholder="请输入新推荐人编号" />
                            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>新推荐人姓名</dt>
                        <dd>
                            <input type="text" class="entrytxt" id="newReUserName" readonly />
                        </dd>
                    </dl>
                </li>
            </ul>
            <input type="hidden" id="id" name="id" />
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定修改</button>
        </div>
    </div>
</div>

<div id="tabDiv2" style="display:none;">
    <div class="tipsword">
        以下举例说明什么情况下能修改推荐关系，什么情况下不能修改推荐关系。 <br />
        有如下直推图：
    </div>
    <div class="usertreeshow">
        <dl>
            <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-secret"></i>A</a></dt>
            <dd>
                <dl>
                    <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-secret"></i>B</a></dt>
                    <dd>
                        <dl>
                            <dt class="redtext"><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>C</a></dt>
                            <dd>
                                <dl>
                                    <dt class="redtext"><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>D</a></dt>
                                    <dd>
                                        <dl>
                                            <dt class="redtext"><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>E</a></dt>

                                        </dl>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </dd>
                    <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>F</a></dt>
                    <dd>
                        <dl>
                            <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user"></i>G</a></dt>

                        </dl>
                    </dd>
                </dl>
            </dd>
        </dl>
    </div>
    <div class="datalist">
        <ul>
            <li>
                <div class="orderbriefly" onclick="utils.showGridMessage(this)"> <span>可以修改的情况1</span> <i class="fa fa-angle-right"></i> </div>
                <div class="allinfo">
                    <div class="tipsword"> 现想把 C 的推荐人改为：A，修改后的直推图变为 </div>
                    <div class="usertreeshow">
                        <dl>
                            <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-secret"></i>A</a></dt>
                            <dd>
                                <dl>
                                    <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-secret"></i>B</a></dt>

                                    <dt class="redtext"><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>C</a></dt>
                                    <dd>
                                        <dl>
                                            <dt class="redtext"><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>D</a></dt>
                                            <dd>
                                                <dl>
                                                    <dt class="redtext"><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>E</a></dt>

                                                </dl>
                                            </dd>
                                        </dl>
                                    </dd>
                                    <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>F</a></dt>
                                    <dd>
                                        <dl>
                                            <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user"></i>G</a></dt>

                                        </dl>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <div class="orderbriefly" onclick="utils.showGridMessage(this)"> <span>可以修改的情况2</span> <i class="fa fa-angle-right"></i> </div>
                <div class="allinfo">
                    <div class="tipsword"> 现想把 C 的推荐人改为：F，修改后的直推图变为 </div>
                    <div class="usertreeshow">
                        <dl>
                            <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-secret"></i>A</a></dt>
                            <dd>
                                <dl>
                                    <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-secret"></i>B</a></dt>
                                    <dd> </dd>
                                    <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user-circle-o"></i>F</a></dt>
                                    <dd>
                                        <dl>
                                            <dt><a href="javascript:void(0);"><span></span><i class="fa fa-user"></i>G</a></dt>

                                            <dt class="redtext"><span></span><a href="javascript:void(0);"><i class="fa fa-user-circle-o"></i>C</a></dt>
                                            <dd>
                                                <dl>
                                                    <dt class="redtext"><span></span><a href="javascript:void(0);"><i class="fa fa-user-circle-o"></i>D</a></dt>
                                                    <dd>
                                                        <dl>
                                                            <dt class="redtext"><span></span><a href="javascript:void(0);"><i class="fa fa-user-circle-o"></i>E</a></dt>

                                                        </dl>
                                                    </dd>
                                                </dl>
                                            </dd>
                                        </dl>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>

            <li>
                <div class="orderbriefly" onclick="utils.showGridMessage(this)"> <span>不能修改的情况</span> <i class="fa fa-angle-right"></i> </div>
                <div class="allinfo">
                    <div class="tipsword">
                        C 的推荐人现是：B；<br />
                        现想把 C 的推荐人改为：D；<br />
                        则不能修改，因为 D 是原来 C 的下线。
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
