﻿<div class="contentbox">
    <div class="operation">
        <ul class="tga4">
            <li><button class="seditbtn" id="addSameBtn">添加同级</button></li>
            <li><button class="seditbtn" id="addSubBtn">添加下级</button></li>
            <li><button class="sdelbtn" id="editBtn">编辑</button></li>
            <li><button class="sdelbtn" id="deleteBtn">删除</button></li>
        </ul>
        <div class="clear"></div>
    </div>

</div>
<div>
    <div id="resourceTree" class="ztree" style=""></div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>

        <div class="entryinfo2" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>