﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <input type="hidden" id="roleMemberRoleId" />
            <input type="text" class="searchtext" placeholder="会员编码" id="roleMemberUserId" />
            <button class="operatebtn" id="searchRoleMemberBtn">搜索</button>
            <div class="clear"></div>
        </div>
    </div>
    <div class="operation">
        <ul class="tga2">
            <li><label><input class="operationche" type="checkbox" id="roleMemberCheckAllBtn" />全选</label></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="datalist operationlist" id="roleMemberDataList" style="padding-bottom:4rem;">
        <ul id="roleMemberItemList"></ul>
    </div>
    <div class="replybox">
        <ul class="tga2">
            <li style="text-align:center;"><button class="cancelbtn" style="width:90%;" id="roleMemberBackBtn">返回</button></li>
            <li style="text-align:center;"><button class="bigbtn" style="width:90%;" id="delRoleMemberBtn">删除</button></li>
        </ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">您确定删除吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>