﻿<div class="entryinfo">
    <dl>
        <dd>
            <p style="padding:0 0 0 1rem"><label><input type="checkbox" id="isclose" name="isclose">开启前台</label></p>
        </dd>
    </dl>
    <dl>
        <dt>关闭前台时给出提示信息</dt>
        <dd>
            <div class="richtextbox">
                <textarea placeholder="输入想要发布的信息内容" id="msg" name="msg"></textarea>

            </div>
        </dd>
    </dl>

    <div class="btnbox">
        <ul class="tga1">
            <li><button class="bigbtn showprompt" id="saveBtn">提交</button></li>
        </ul>
        <div class="clear"></div>
    </div>

</div>
