.panel{
	text-align:right;
}
.panel-icon{
	right:5px;
}
.panel-tool{
	left:5px;
	right:auto;
}
.panel-with-icon{
	padding:0 18px 0 0;
}
.panel-loading{
	padding:11px 20px 10px 0px;
	margin-right:10px;
	background-position:right center;
}
.panel-hleft>.panel-header .panel-title,
.panel-hright>.panel-header .panel-title{
	text-align: left;
}
.panel-hleft>.panel-header .panel-title-up,
.panel-hright>.panel-header .panel-title-up{
	text-align: right;
}
.panel-hright>.panel-body{
	left: 0;
}

.window .window-header .panel-icon{
	right:1px;
}
.window .window-header .panel-tool{
	left:1px;
	right:auto;
}
.window .window-header .panel-with-icon{
	padding:0 18px 0 0;
}
.dialog-button{
	text-align:left;
}
.dialog-button .l-btn{
	margin:0 5px 0 0;
}

.messager-icon{
	float:right;
	margin:0 0 10px 10px;
}

.tabs{
	padding:0 4px 0 0;
}
.tabs li{
	float:right;
	margin-right:0;
	margin-left:4px;
}
.tabs-header-bottom .tabs li{
	margin:-1px 0 0 4px;
}
.tabs-title{
	padding:0;
}
.tabs-with-icon{
	padding-right:18px;
}
.tabs-icon{
	left:auto;
	right:10px;
}
.tabs-closable{
	padding-left:8px;
}
.tabs li a.tabs-close{
	left:5px;
	right:auto;
}
.tabs-narrow{
	padding:0;
}
.tabs-narrow li,.tabs-header-bottom .tabs-narrow li{
	margin-left:-1px;
	margin-right:0;
}
.tabs-narrow li.tabs-last,.tabs-header-bottom .tabs-narrow li.tabs-last{
	margin-left:0;
}
.tabs-header-right .tabs-narrow li.tabs-last{
	margin-left:-1px;
}

.datagrid-view1{
	left:auto;
	right:0;
}
.datagrid-view2{
	left:0;
	right:auto;
}
.datagrid-header-inner{
	float:left;
}
.datagrid-footer-inner{
	float:right;
}
.datagrid-sort-desc .datagrid-sort-icon,.datagrid-sort-asc .datagrid-sort-icon{
	padding:0 0 0 13px;
}
.datagrid-sort .datagrid-sort-icon{
	background-position: -67px center;
}
.datagrid-sort-asc .datagrid-sort-icon{
	background-position: -3px center;
}
.datagrid-sort-desc .datagrid-sort-icon{
	background-position: -19px center;
}
.datagrid-header td{
	border-left:1px dotted #ccc;
	border-right:0;
}
.datagrid-body td,.datagrid-footer td{
	border-left:1px dotted #ccc;
	border-right:0;
}
.datagrid-mask-msg{
	padding:10px 30px 10px 5px;
	background-position:96% center;
}
.propertygrid .datagrid-view1 .datagrid-body td{
	border-width:0 0 0 1px;
}

.pagination table{
	float:right;
}
.pagination-info{
	float:left;
	padding-left:6px;
	padding-right:0;
}

.tree-collapsed{
    background-position:0 -18px;
}
.tree-collapsed-hover{
	background-position:-32px -18px;
}
.tree-expanded{
    background-position:-18px -18px;
}
.tree-expanded-hover{
	background-position:-50px -18px;
}

.tree-lines .tree-expanded,.tree-lines .tree-root-first .tree-expanded{
	background-position:-144px -18px;
}
.tree-lines .tree-collapsed,.tree-lines .tree-root-first .tree-collapsed{
	background-position:-128px -18px;
}
.tree-lines .tree-node-last .tree-expanded,.tree-lines .tree-root-one .tree-expanded{
	background-position:-80px -18px;
}
.tree-lines .tree-node-last .tree-collapsed,.tree-lines .tree-root-one .tree-collapsed{
	background-position:-64px -18px;
}
.tree-line{
	background-position:-176px -18px;
}
.tree-join{
	background-position:-192px -18px;
}
.tree-joinbottom{
	background-position:-160px -18px;
}

.tree-node-proxy{
	padding:0px 20px 0px 2px;
}
.tree-dnd-icon{
	left:auto;
	right:2px;
}
.calendar-prevmonth{
	left:auto;
	right:20px;
	background-position:-34px -2px;
}
.calendar-nextmonth{
	left:20px;
	right:auto;
	background-position:-18px -2px;
}
.calendar-prevyear{
	left:auto;
	right:3px;
	background-position:-49px -2px;
}
.calendar-nextyear{
	left:3px;
	right:auto;
	background-position:-1px -2px;
}
.calendar-menu-prev{
	background-position:-45px 2px;
	margin:0 0 0 10px;
}
.calendar-menu-next{
	background-position:2px 2px;
	margin:0 10px 0 0;
}

.textbox .textbox-bgicon{
	background-position: right 3px center;
	padding-left: 4px;
	padding-right: 21px;
}
.combobox-item,.combobox-group{
	padding:3px 3px 3px 0;
}
.combobox-gitem{
	padding:3px 10px 3px 0;
}
.combobox-icon{
	margin-left:2px;
	margin-right:0;
}

.menu{
	background-image:none;
}
.menu-content{
	background:#fff;
}
.menu-text{
	left:auto;
	right:28px;
	float:right;
	padding-left:0;
	padding-right:28px;
}
.menu-line{
	left:auto;
	right:26px;
}
.menu-sep{
	margin:3px 25px 3px 0;
}
.menu-icon{
	left:auto;
	right:2px;
}
.menu-rightarrow{
    left:0;
	right:auto;
	background-position:-48px center;
}
.menu-shadow{
	-moz-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}
.m-btn-downarrow{
	left:0;
	right:auto;
}
.m-btn .l-btn-left .l-btn-text{
	margin-left:20px;
	margin-right:4px;
}
.m-btn .l-btn-icon-left .l-btn-text{
	margin-left:40px;
}
.m-btn .l-btn-icon-left .l-btn-icon{
	left:20px;
	right:auto;
}
.m-btn .l-btn-icon-right .l-btn-text{
	margin-right:24px;
}
.m-btn .l-btn-icon-right .l-btn-icon{
	left:auto;
	right:4px;
}
.m-btn .l-btn-icon-top .l-btn-text,
.m-btn .l-btn-icon-bottom .l-btn-text{
	margin-left:4px;
	margin-right:4px;
	margin-bottom:14px;
}
.m-btn .l-btn-icon-bottom .l-btn-text{
	margin-bottom:34px;
}
.m-btn .l-btn-left .m-btn-line{
	left:0;
	right:auto;
	border-width:0 1px 0 0;
}
.m-btn .l-btn-icon-top .m-btn-line,
.m-btn .l-btn-icon-bottom .m-btn-line{
	left:0;
	top:auto;
	bottom:0;
	border-width:1px 0 0 0;
}
.validatebox-invalid{
	background-position:left center;
}

.slider-v .slider-rule,.slider-v .slider-rulelabel{
	direction:ltr;
}

.switchbutton-inner{
	left:auto;
	right:-1px;
}
.switchbutton-on,.switchbutton-off,.switchbutton-handle{
	float:right;
}
.ribbon-group,.ribbon-group-sep{
	float: right;
}
