﻿
<div id="container" class="scrollbar-hover" style="padding-top:10px; margin:10px;">
    <div class="items">
        <div class="item">

            <div class="item-heading">
                <form id="QueryForm">
                    <table>
                        <tr>
                            <td>
                                &nbsp;&nbsp;<button type="button" id="backUpBtn" class="btn btn-primary"> 备份数据库 </button>
                            
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
        <div class="item">
            <div class="item-heading">
                <h4><font color="#145ccd">数据库备份列表</font></h4>
            </div>
            <div class="item-content">
                <div class="text">
                    <table id="dg" class="easyui-datagrid" style="width:100%;height:470px"></table>
                </div>
            </div>
        </div>

    </div>
</div>
