﻿<div id="container" class="scrollbar-hover" style="margin:5px;">
    <div class="items">
        <div class="item">
            <div class="item-content">
                <div class="text">
                    <form id="QueryForm">
                        <table>
                            <tr>
                                <td style="vertical-align:middle;">会员编号：</td>
                                <td>
                                    <input type="text" class="form-control2" id="userId" name="userId" />
                                </td>
                                <td style="vertical-align:middle;">&nbsp;&nbsp;显示层数：</td>
                                <td>
                                    <select id="ceng" name="ceng" class="form-control2">
                                        <option value="2">2</option>
                                        <option value="3" selected="selected">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </td>
                                <td>&nbsp;&nbsp;<button type="button" id="queryBtn" class="btn btn-primary"> 跳 转 </button></td>
                                
                                
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div style="padding:20px;">
            会员相应级别：&nbsp;&nbsp;
            <button type="button" class="btn" style="width:100px;"> 未开通会员 </button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" style="width:100px;"> 普 卡 </button>&nbsp;&nbsp;
            <button type="button" class="btn btn-warning" style="width:100px;"> 银 卡 </button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" style="width:100px;"> 金 卡 </button>&nbsp;&nbsp;
            <br />
            <div id="other" style="padding-top:10px;">
            </div>
        </div>
        <div class="map" id="treeDiv" style="overflow: auto; ">
            <!--<div class="pedigreebox" style="width:100%;text-align:center;padding-top:20px;">-->
            <!--</div>-->
        </div>
    </div>
</div>
