﻿
<div class="navicon" style="display:none;">
    <ul class="tga3" id="messageCenteritemCont">
        <!--<li id="UWealthscheme"><a href="#UWealthscheme"><i class="fa fa-trophy" aria-hidden="true"></i><p>财富方案</p></a></li>
        <li id="UArticle"><a href="#UArticle"><i class="fa fa-globe" aria-hidden="true"></i><p>公告信息</p></a></li>
        <li id="UEmailBox"><a href="#UEmailBox"><i class="fa fa-envelope" aria-hidden="true"></i><p>邮件中心</p><span>9</span></a></li>-->
    </ul>
    <div class="clear"></div>
</div>
<div class="newslist" id="UAricledatalist" style="display:none;">
    <ul id="UAricleitemList"></ul>
</div>

<div class="ologoimg"><img src="/Content/APP/User/images/logo.png"></div>
<div class="development">

    <div class="gamecont" id="div_ft">
        <h1>虛擬資產</h1>
        <h2>打通同壹鏈上、不同鏈上</h2>
        <h2>各遊戲之間虛擬資產的價值傳遞。</h2>
    </div>
    <div class="gamecont" id="div_en">
        <h1>Fictitious assets</h1>
        <h2>Get through the same chain and different chains</h2>
        <h2>Value transfer of virtual assets between games。</h2>
    </div>
    <div class="gamecont" id="div_hw">
        <h1>虛擬資產</h1>
        <h2>打通同壹鏈上、不同鏈上</h2>
        <h2>各遊戲之間虛擬資產的價值傳遞。</h2>
    </div>
</div>