﻿<div class="userinfo">
    <div class="avatar">
        <img src="/Content/APP/User/images/logo2.png" />
        <div class="level" id="ulevel">会员等级</div>
    </div>
    <h2 id="userName">会员名称</h2>
    <h4 id="userId">会员账号：SD2368</h4>
</div>
<div class="userassets">
    <ul class="tga4">
        <li><span id="agentJj" style="font-size:1.4rem;">451321.00</span><p>奖金币</p></li>
        <li><span id="agentDz" style="font-size: 1.4rem;">984.00</span><p>电子币</p></li>
        <li><span id="agentFt" style="font-size: 1.4rem;">45748.00</span><p>复投币</p></li>
        <li><span id="agentGw" style="font-size: 1.4rem;">45748.00</span><p>购物币</p></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="navicon ucentericon">
    <ul class="tga3" id="itemCont"></ul>
    <div class="clear"></div>
</div>

