<div class="mainbox">

    <div class="promptbox">
        <div class="promptcont">
            <div class="prompticon">
                <i class="fa fa-cogs"></i>
            </div>
            <div class="prompttext">
                <h2>请先成为加盟商家.....</h2>
            </div>
        </div>
    </div>
</div>