﻿<!--<div class="userinfo">

    <h1 id="agentJj"></h1>
    <h4>奖金币</h4>
</div>
<div class="userassets">
    <ul class="tga3">
        <li><span id="agentGw"></span><p>购物币</p></li>
        <li><span id="agentDz"></span><p>电子币</p></li>
        <li><span id="agentFt"></span><p>复投币</p></li>
    </ul>
    <div class="clear"></div>
</div>-->

<div class="navicon ucentericon" style="display:none;">
    <ul class="tga3" id="itemCont">
        <!--<li><a href="奖金明细.html"><i class="fa fa-database"></i><p>奖金明细</p></a></li>
        <li><a href="会员提现.html"><i class="fa fa-credit-card"></i><p>会员提现</p></a></li>
        <li><a href="账户转账.html"><i class="fa fa-exchange"></i><p>账户转账</p></a></li>
        <li><a href="账户充值.html"><i class="fa fa-credit-card-alt"></i><p>账户充值</p></a></li>
        <li><a href="流水账.html"><i class="fa fa-list-alt"></i><p>流水账</p></a></li>-->
    </ul>
    <div class="clear"></div>
</div>

<div class="ologoimg"><img src="/Content/APP/User/images/logo.png"></div>
<div class="development">

    <div class="gamecont" id="div_ft">
        <h1>以太雲</h1>
        <h2>
            存儲底層、擴展層、應用層
            <p>→生態閉環</p>
        </h2>
        <h2>

            為行業、客戶提供安全、可靠、靈活
            <p>的區塊鏈服務。</p>
        </h2>
    </div>	

    <div class="gamecont" id="div_en">
        <h1>Etheric cloud</h1>
        <h2>
            Storage layer, expansion layer, application layer

            <p>→ ecological closed loop</p>
        </h2>
        <h2>

            Provide safety, reliability and flexibility for the industry and customers

            <p>Blockchain services. </p>
        </h2>
    </div>	

    <div class="gamecont" id="div_hw">
        <h1>以太雲</h1>
        <h2>
            存儲底層、擴展層、應用層
            <p>→生態閉環</p>
        </h2>
        <h2>

            為行業、客戶提供安全、可靠、靈活
            <p>的區塊鏈服務。</p>
        </h2>
    </div>	

</div>