﻿
<div class="contentbox">
    <div class="datalist">
        <ul>
            <li>

                <div class="allinfo">
                    <dl>
                        <dt>投資總額ETH</dt>
                        <dd id="ethValueTz">0.0</dd>
                    </dl>
                    <dl>
                        <dt>總收益ETH</dt>
                        <dd id="SumCurrency">0.0</dd>
                    </dl>
                    <dl>
                        <dt>應退ETH</dt>
                        <dd id="SumHBETH">0.0</dd>
                    </dl>
                </div>
                <div class="oklink"><a href="javascript:;" id="saveBtn">確認取消投資</a></div>
            </li>
        </ul>
    </div>
</div>



<!--確認提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">確認</h2>
            </div>
            <div class="clear"></div>
        </header>

        <div class="btnbox">
            <button class="greenBtn" id="sureBtn">確定取消</button>
        </div>
    </div>
</div>
