﻿<div class="maintag">
    <ul class="tga3">
        <li class="active" id="litab1"><a href="javascript:changeTab(1)">登录密码</a></li>
        <li id="litab2"><a href="javascript:changeTab(2)">安全密码</a></li>
        <li id="litab3"><a href="javascript:changeTab(3)">交易密码</a></li>
    </ul>
</div>

<div class="entryinfo" id="passDiv1">
    <dl>
        <dt>旧登录密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss1" id="oldPassword" name="oldPassword" placeholder="请输入您的旧密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>

    </dl>
    <dl>
        <dt>新登录密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss1" id="password" name="password" placeholder="请输入新登录密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>确认密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss1" id="passwordRe" name="passwordRe" placeholder="请确认登录密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <div class="btnbox">
        <button class="bigbtn" id="changBtn1">修改登录密码</button>
    </div>
</div>

<div class="entryinfo" id="passDiv2" style="display:none;">
    <dl>
        <dt>旧安全密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss2" id="oldPassOpen" name="oldPassOpen" placeholder="请输入您的旧密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>

    </dl>
    <dl>
        <dt>新安全密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss2" id="passOpen" name="passOpen" placeholder="请输入新登录密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>确认密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss2" id="passOpenRe" name="passOpenRe" placeholder="请确认登录密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <div class="btnbox">
        <button class="bigbtn" id="changBtn2">修改安全密码</button>
    </div>
</div>

<div class="entryinfo" id="passDiv3" style="display:none;">
    <dl>
        <dt>旧交易密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss3" id="oldThreepass" name="oldThreepass" placeholder="请输入您的旧密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>

    </dl>
    <dl>
        <dt>新交易密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss3" id="threepass" name="threepass" placeholder="请输入新登录密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>确认密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt pss3" id="threepassRe" name="threepassRe" placeholder="请确认登录密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <div class="btnbox">
        <button class="bigbtn" id="changBtn3">修改交易密码</button>
    </div>
</div>