﻿
<div class="maintag">
    <ul class="tga2">
        <li class="active"><a href="javascript:void(0);" id="a_mx">收益明細</a></li>
        <li><a href="javascript:void(0);" id="a_hz">收益合計</a></li>
    </ul>
</div>

<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <table>
                <tr>
                    <td style="width:32%"><input type="text" class="searchtext" style="width:100%;" placeholder="開始日期" id="startTime" /></td>
                    <td align="center">至</td>
                    <td style="width:32%"><input type="text" class="searchtext" style="width: 100%;" placeholder="結束日期" id="endTime" /></td>
                    <td style="width:18%"><button class="btnmyteam" id="searchBtn" style="width:100%">搜索</button></td>
                    <td style="width:18%"><button class="btnmyteam" id="clearQueryBtn" style="width:100%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
    </div>

    <div class="datalist" id="UCurrencyDatalist">
        <ul id="UCurrencyItemList"></ul>
    </div>
</div>
<div class="contentbox" style="display:none;">
    <div class="datalist">
        <ul id="footerUl"></ul>
    </div>
</div>


