﻿<div class="entryinfo entryinfol">
    <dl>
        <dt>托管会员编号</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="userId" placeholder="请输入托管会员编号" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>托管会员交易密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt" id="password" placeholder="请输入交易密码" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <div class="btnbox">
        <div class="btnbox">
            <button class="smallbtn" id="addBtn">添加</button>
        </div>
        <div class="btnbox">
            <button class="smallbtn" id="transferBtn">子账户余额转入主账户</button>
        </div>
    </div>

</div>
<div class="datalist" id="UDelegaMemberDatalist">
    <ul id="UDelegaMemberItemList"></ul>
</div>

<!--确认提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">托管详情</h2>
            </div>
            <div class="clear"></div>
        </header>
        <!--<div class="datalist" id="prompCont">
            <ul>
                <li>
                    <dl>
                        <dt>提现金额</dt>
                        <dd><span id="txje">0</span>&nbsp;元</dd>
                    </dl>

                    <dl>
                        <dt>实际金额</dt>
                        <dd><span id="sjje">0</span>&nbsp;元</dd>
                    </dl>
                </li>
            </ul>
        </div>-->
        <div class="btnbox">
            <button class="greenBtn" id="sureBtn">确定转账</button>
        </div>
    </div>
</div>
