﻿<div class="entryinfo" id="passDiv1">
    <dl style="display:none" id="fristQuestion">
        <dt>密保问题</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="question" name="question" placeholder="请选择密保问题" emptymsg="请选择密保问题" />
        </dd>

    </dl>
    <dl style="display:none" id="oldQuestion">
        <dt>密保问题</dt>
        <dd>
            <p id="questionVal"></p>
        </dd>
    </dl>
    <dl id="oldDiv" style="display:none;">
        <dt>旧密保答案</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="oldAnswer" name="oldAnswer" placeholder="旧密保答案" emptymsg="旧密保答案不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl id="oldDiv">
        <dt>密保答案</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="answer" name="answer" placeholder="密保答案" emptymsg="密保答案不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <div class="btnbox">
        <button class="bigbtn" id="saveBtn">保存设置</button>
    </div>
</div>