﻿<!--<style type="text/css">
    .cartSubNumBtn {
        width: 2.2rem;
        height: 2.2rem;
        background: #eee;
        border: solid 0.1rem #ddd;
        box-sizing: border-box;
        vertical-align: middle;
        border-right: none;
        border-radius: 0.4rem 0rem 0rem 0.4rem;
        font-size: 0.8rem;
        color: #999;
    }

    .cartAddNumBtn {
        width: 2.2rem;
        height: 2.2rem;
        background: #eee;
        border: solid 0.1rem #ddd;
        box-sizing: border-box;
        vertical-align: middle;
        border-left: none;
        border-radius: 0rem 0.4rem 0.4rem 0rem;
        font-size: 0.8rem;
        color: #999;
    }

    .cartNumInput {
        height: 2.2rem;
        box-sizing: border-box;
        padding: 0rem 0.5rem;
        font-size: 1.3rem;
        width: 5rem;
        vertical-align: middle;
        font-size: 1.4rem;
        text-align: right;
    }

    .tdText {
        color: #999;
        font-size: 1.1rem;
        text-align: right;
        padding-right: 1rem;
        width: 20%;
    }

    .priceText {
        color: #ddb86b;
        font-size: 1.3rem;
    }

    .contTabel {
        width: 100%;
        border: 0;
    }

        .contTabel td {
            line-height: 2rem;
        }
</style>-->

<div class="cartlist" id="content" >
    
    <!--<table cellpadding="0" cellspacing="0" class="contTabel">
        <tr>
            <td style="width:25%;padding-left:1rem; vertical-align:middle">
                <img src="testimg/testd1.jpg" style="width: 100%;  margin-right: 1rem; border-radius: 0.3rem; float: left;" />
            </td>
            <td>
                <table>
                    <tr>
                        <td colspan="2"><h2 style="font-size: 1.3rem;">商品名称，换行，或者不换，我都在这里，只要你想，那就随你所想</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2"><h3 class="priceText">¥999-1299</h3></td>
                    </tr>
                    <tr>
                        <td class="tdText">购买数量</td>
                        <td align="left">
                            <button class="cartSubNumBtn"><i class="fa fa-minus"></i></button><input class="cartNumInput" type="text" value="1" /><button class="cartAddNumBtn"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdText">总金额</td>
                        <td>
                            <span class="priceText">¥999-1299</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>-->
    <dl>
        <dt></dt>
        <dd style="text-align: center; font-size: 1.5rem; color: #ecae33;">
            您的购物车是空的！
        </dd>
    </dl>
</div>

<div class="entryinfo">
    <div class="userdltl">收货信息</div>
    <dl>
        <dt>收货人</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="receiptName" placeholder="收货人" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>

    <dl>
        <dt>联系电话</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="phone" placeholder="请输入联系电话" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    
    <dl>
        <dt>省</dt>
        <dd>
            <input type="text" class="entrytxt" id="provinceName" placeholder="请选择省" readonly />
        </dd>
    </dl>
    <dl>
        <dt>市</dt>
        <dd>
            <input type="text" class="entrytxt" id="cityName" placeholder="请选择市" readonly />
        </dd>
    </dl>
    <dl>
        <dt>区</dt>
        <dd>
            <input type="text" class="entrytxt" id="areaName" placeholder="请选择区" readonly />
        </dd>
    </dl>
    <dl>
        <dt>详细地址</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="address" placeholder="请输入收货地址" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>合计金额</dt>
        <dd>

            <p><span id="submitMoney">0</span></p>
        </dd>
    </dl>
    <div class="btnbox">
        <ul class="tga3">
            <li><button class="sclreabtn" id="clearBtn">清空购物车</button></li>
            <li><button class="sclreabtn" onclick="javascirpt: location.href = '#UProductShop';">继续购物</button></li>
            <li><button class="smallbtn" id="saveBtn">提交订单</button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="propTitle">操作确认</h2>
            </div>
            <div class="clear"></div>
        </header>
        <!--<div class="datalist">
            <ul>
                <li>
                    <dl>
                        <dt>提现金额</dt>
                        <dd><span id="txje">0</span>&nbsp;元</dd>
                    </dl>

                    <dl>
                        <dt>实际金额</dt>
                        <dd><span id="sjje">0</span>&nbsp;元</dd>
                    </dl>
                </li>
            </ul>
        </div>-->
        <div class="btnbox">
            <button class="smallbtn" id="sureBtn">确  定</button>
        </div>
    </div>
</div>