﻿
<style type="text/css">
    .cont {
        font-size: 1.4rem;
        max-width: 100%;
        width: 100%;
        padding: 5px 8px 8px 8px;
        /*overflow-x: hidden;*/
        box-sizing: border-box;
        overflow-y: auto;
        padding-top: 5px;
        background-color: #fff;
    }

        .cont img {
            max-width: 100%;
        }

    .h1 {
        font-size: 2rem;
        text-align: center;
        font-weight: normal;
        margin-bottom: 0.5rem;
        color: #333;
        padding-left: 8px;
        padding-right: 8px;
    }
</style>

<div style="width:100%; background-color:#fff;padding-top:1rem;">
    <h1 id="contTitle" class="h1"></h1>
    <div id="cont" class="cont" style="box-sizing: border-box;"></div>
</div>