﻿<div class="">
    <div class="center-block tipsbox">

        <div class="tipscontbox">
            <div class="tipsiconbox">
                <i class="icon icon-lock"></i>
            </div>
            <h3>您没有权限访问该页面！</h3>
            <p><a href="#main">返回首页</a></p>

        </div>
    </div>
</div>