﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">会员中心</a></li>
                    <li class="active">申请报单中心</li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <div class="">
                <form class="form-horizontal" id="registerForm">
                    <div class="form-group">
                        <label for="exampleInputAddress1" class="col-sm-2">报单中心编号：</label>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exampleInputAddress1" class="text-yellow" id="shopName"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="myDiv">
                        <label for="exampleInputAddress1" class="col-sm-2">汇款金额：</label>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exampleInputAddress1" class="text-yellow" id="mmy"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="ingDiv">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label for="exampleInputAddress1" class="col-sm-7 text-yellow" >申请中,请等待管理员审核 ......</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" id="btnDiv">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="saveBtn" class="btn btn-warning ">提交申请</button>
                        </div>
                    </div>
                </form>
                <br />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="cl"></div>

</div>
