﻿<<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">EP交易</a></li>
                    <li class="active">我的买单</li>
                </ol>
                <div class="clearfix"></div>
            </div>


            <div class="">
                <div class="item-heading">
                    <form id="UEpMyBuyerQueryForm" method="post" action="/User/UEpMyBuyer/ExportMyBuyerXls">
                        <table>
                            <tr>
                                <td style="vertical-align:middle;">状态：</td>
                                <td>
                                    <select class="form-control" id="flag" name="flag" style="width:80px;"></select>
                                </td>
                                <td style="vertical-align:middle;">&nbsp;&nbsp;挂卖单号：</td>
                                <td>
                                    <input type="text" class="form-control" id="snumber" name="snumber" style="width:100px;" />
                                </td>
                                <td style="vertical-align:middle;">&nbsp;&nbsp;卖家编码：</td>
                                <td>
                                    <input type="text" class="form-control" id="suserId" name="suserId" style="width:100px;" />
                                </td>
                                <td>&nbsp;&nbsp;购买日期：</td>
                                <td>
                                    <input type="text" class="form-control form-date" style="width:100px;" placeholder="选择起始日期" id="startTime" name="startTime">
                                </td>
                                <td>&nbsp;至&nbsp;</td>
                                <td><input type="text" class="form-control form-date" style="width: 100px;" placeholder="选择结束日期" id="endTime" name="endTime" /></td>
                                <td>
                                    &nbsp;&nbsp;<button type="button" id="submit" class="btn btn-primary"> 查 询 </button>
                                </td>
                                <td style="vertical-align:middle;padding-left:10px;">
                                    <button type="submit" id="export" style="display:none;" class="btn btn-primary"> 导出EXCEL </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <hr />
                <div class="item-content">
                    <div class="text">
                        <table id="dg" class="easyui-datagrid" style="width:100%;height:420px" data-options="toolbar:'#operateDiv2'"></table>
                        <div id="operateDiv2" style="padding:2px 5px;">
                            <table>
                                <tr>
                                    <td style="vertical-align:middle;">
                                        <form id="sendQueryForm">
                                            <table>
                                                <tr>
                                                    <td><a href="javascript:void(0)" id="batchPayBtn" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true,text:'批量付款'" /></td>
                                                </tr>
                                            </table>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="cl"></div>

</div>