﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">会员中心</a></li>
                    <li class="active">会员晋升</li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <div class="">
                <form class="form-horizontal" id="registerForm">
                    <div class="form-group">
                        <!--<div class="col-sm-4">
                            <div class="form-group">
                                <label for="exampleInputAddress1">会员编号：</label>
                                <label for="exampleInputAddress1" class="text-yellow" id="dfpass1"></label>
                            </div>
                        </div>-->
                        <label for="exampleInputAccount4" class="col-sm-1">会员编号</label>
                        <label for="exampleInputAddress1" class="text-yellow col-sm-2" style="text-align:left;" id="userId"></label>
                        <label for="exampleInputAccount4" class="col-sm-1">会员姓名</label>
                        <label for="exampleInputAddress1" class="text-yellow col-sm-2" style="text-align:left;" id="userName"></label>
                        <label for="exampleInputAccount4" class="col-sm-2">电子币余额</label>
                        <label for="exampleInputAddress1" class="text-yellow col-sm-2" style="text-align:left;" id="agentDz"></label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-1">当前级别</label>
                        <label for="exampleInputAddress1" class="text-yellow col-sm-2" style="text-align:left;" id="nowLevel"></label>
                        <label for="exampleInputAccount4" class="col-sm-1">晋升级别</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="newId" name="newId"></select>
                        </div>
                        <label for="exampleInputAccount4" class="col-sm-2">所需电子币</label>
                        <label for="exampleInputAddress1" class="text-yellow col-sm-2" style="text-align:left;" id="rmoney">0</label>
                        <div class="col-sm-2">
                            <button type="button" id="saveBtn" class="btn btn-warning "> 提 交 </button>
                        </div>
                    </div>

                    <hr />
                </form>
                <div class="item-content">
                    <div class="text">
                        <table id="dg" class="easyui-datagrid" style="width:100%;height:400px"></table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="cl"></div>

</div>
