﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">购物管理</a></li>
                    <li class="active">在线购物</li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <div class="">
                <div class="form-group">
                    <table>
                        <tr>
                            <td style="vertical-align:middle;">商品名称：</td>
                            <td>
                                <input type="text" class="form-control" id="productName" name="productName" />
                            </td>
                            <td>&nbsp;&nbsp;<button type="button" id="queryProductBtn" class="btn btn-primary"> 查 询 </button></td>
                        </tr>
                    </table>
                </div>
                <form class="form-horizontal" id="ffform">
                    <hr />
                    <div class="form-group">
                        <div class="col-sm-3">
                            <img data-toggle="lightbox" src="" class="img-thumbnail" alt="">
                        </div>
                    </div>
                    <hr />
                </form>
            </div>
            <div class="">
                <div class="form-group">
                    <div class="col-sm-6" style="padding-right:0px;padding-top:5px;" id="pageMsg">
                    </div>
                    <div class="col-sm-5" style="padding-right:0px;">
                        <ul class="pager  pull-right" id="pageUL" style="margin:0px 0px 0px 0px; text-align:right">
                            <li class="previous"><a href="javascript:void(0);">第一页</a></li>
                            <li><a href="javascript:void(0);">上一页</a></li>
                            <li><a href="javascript:void(0);">下一页</a></li>
                            <li class="next"><a href="javascript:void(0);">最后页</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-1" style="text-align:left;padding-left:0px;">
                        <select class="form-control" id="pageSelect" name="pageSelect" style="width:80px;"></select>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="cl"></div>

</div>
