﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">购物管理</a></li>
                    <li class="active">我的购物车</li>
                </ol>
               
            </div>
            <div class="">
                
                <hr />
                <div id="content">
                    <div class="row">
                        <label for="exampleInputAccount4" class="col-sm-1">暂无记录</label>
                    </div>
                    <hr />
                </div>
                <div>
                    <form class="form-horizontal" id="BaseSetForm">

                        <div class="form-group">
                            <label for="exampleInputAccount4" class="col-sm-1">省</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="provinceName" name="provinceName"></select>
                            </div>
                            <label for="exampleInputAccount4" class="col-sm-1">市</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="cityName" name="cityName"></select>
                            </div>
                            <label for="exampleInputAccount4" class="col-sm-1">区</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="areaName" name="areaName"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputAccount4" class="col-sm-1">详细地址</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="address" name="address" />
                            </div>

                            <label for="exampleInputAccount4" class="col-sm-1">收货人</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="receiptName" name="receiptName" />
                            </div>
                            <label for="exampleInputAccount4" class="col-sm-1">联系电话</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="phone" name="phone" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label  class="col-sm-1"><input type="checkbox" id="checkAll" style="height:20px;width:20px; cursor:pointer;" />全选</label>
                          
                            <label for="exampleInputAccount4" class="col-sm-1" style="height: 25px; padding-top: 12px">合计金额</label>
                            <div class="col-sm-2" style="padding-top:12px;text-align:left;">
                                <label for="exampleInputAddress1" class="text-yellow" id="submitMoney">0</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <table>
                                    <tr>
                                        <td><button type="button" id="clearBtn" class="btn btn-danger">清空购物车</button></td>
                                        <td><button type="button" class="btn btn-success" onclick="javascript: location.href = '#UProductShop';">继续购物</button></td>
                                        <td><button type="button" id="saveBtn" class="btn btn-warning">提交订单</button></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </form>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cl"></div>

    </div>
